@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/bible-background.png");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
